<hr>
<h1>Testing page</h1>
<ul>
    <li><a routerLink="/test/component-template" routerLinkActive="link-active" [routerLinkActiveOptions]="{ exact: false }">Components & templates</a></li>
    <li><a routerLink="/test/lifecycle" routerLinkActive="link-active" [routerLinkActiveOptions]="{ exact: false }">Lifecycle Hooks</a></li>
    <li><a routerLink="/test/dynamic-component" routerLinkActive="link-active" [routerLinkActiveOptions]="{ exact: false }">Dynamic component</a></li>
    <li><a routerLink="/test/custom-pipe" routerLinkActive="link-active" [routerLinkActiveOptions]="{ exact: false }">Customize pipe</a></li>
    <li><a routerLink="/test/forms" routerLinkActive="link-active" [routerLinkActiveOptions]="{ exact: false }">Forms</a></li>
    <li><a routerLink="/test/observable" routerLinkActive="link-active" [routerLinkActiveOptions]="{ exact: false }">Observable</a></li>
    <li><a routerLink="/test/service" routerLinkActive="link-active" [routerLinkActiveOptions]="{ exact: false }">Service</a></li>
    <li><a routerLink="/test/http" routerLinkActive="link-active" [routerLinkActiveOptions]="{ exact: false }">Http</a></li>
    <li><a routerLink="/test/i18n" routerLinkActive="link-active" [routerLinkActiveOptions]="{ exact: false }">i18n</a></li>
    <li><a routerLink="/test/bootstrap" routerLinkActive="link-active" [routerLinkActiveOptions]="{ exact: false }">Bootstrap</a></li>
    <li><a routerLink="/test/logger" routerLinkActive="link-active" [routerLinkActiveOptions]="{ exact: false }">Logger</a></li>
    <li><a routerLink="/test/material-sidenav" routerLinkActive="link-active" [routerLinkActiveOptions]="{ exact: false }">Materialize sidenav</a></li>
    <li><a routerLink="/test/aws-sdk" routerLinkActive="link-active" [routerLinkActiveOptions]="{ exact: false }">aws-sdk</a></li>
    <li><a routerLink="/test/img-cropper" routerLinkActive="link-active" [routerLinkActiveOptions]="{ exact: false }">Image cropper</a></li>
    <li><a routerLink="/test/ngx-ace" routerLinkActive="link-active" [routerLinkActiveOptions]="{ exact: false }">Ngx Ace</a></li>
</ul>
<div class="test-child">
    <router-outlet></router-outlet>
</div>