<div class="sec">
    <div class="titile">Component - multiple edit session & optional dependency injection</div>
    <br />
    <app-service-hero [hero]="hero"></app-service-hero>
    <br />
    <hr>
    <br />
    <app-service-hero [hero]="hero2"></app-service-hero>
</div>

<div class="sec">
    <div class="titile">Use-class</div>
    <app-use-class></app-use-class>
</div>

<div class="sec">
    <div class="titile">Existing-class</div>
    <app-use-existing-class></app-use-existing-class>
</div>

<div class="sec">
    <div class="titile">Use value</div>
    <app-use-value></app-use-value>
</div>